@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Regular.ttf');
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(94, 0, 58);
  color: white;
  background-image: url('../images/cat.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: overlay;
  overflow: hidden;

  .container h1 {
    font-family: OpenSans;
    animation: up-down 2s linear infinite alternate-reverse;
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px) scale(.7);
  }

  100% {
    transform: translateY(-10px) scaleZ(1.2);
  }
}